@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.testimonials-title {
  font-size: 3rem; /* Adjust as needed */
    /* align-self: center; */
    align-items: center;
    color: #00508a;
    font-size: 4rem;
}